@model SportsGrounds.Models.User

<h4 class="text-center">User Auth</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Auth" asp-controller="User">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" name="Login" value=""/>
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" name="Password" value="" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Map">Back to map</a>
    <a asp-action="Registration" asp-controller="User">Go to Reg</a>
</div>

