@page
<div class="text-center">
    <h1 class="display-4">Hello wolrd</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div id="map" style="width: 1000px; height: 1000px"></div>

    <input type="button" onclick="my_callback()"/>
    <a asp-action="Func" asp-controller="Home" >Загрузить данные на сервер</a>
</div>
