@page

<div class="text-center">
    <h1 class="display-4">Hello SportPlayer!</h1>
    <p>Тыкай <a asp-action="Index" asp-controller="Map" >Открыть карту</a>.</p>
    <p>Тыкай <a asp-action="Index" asp-controller="User" >Авторизация</a>.</p>
    
</div>
